header {
    background-image: url("/assets/img/pexels-sebastian-palomino-1955134.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
header::before {
    content: "";
    background: linear-gradient(to bottom, rgba(177, 153, 110, 0.164) 50%, rgb(177, 153, 110) 90%); /* css matic */
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    
}

section {
    background-color: rgb(177, 153, 110);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 273px 200px;
    
}

.image-line1 {
    grid-row: 1;
    display: flex;
    justify-content: center;
}
.image-line2 {
    grid-row: 2;
    display: flex;
    justify-content: center;
}

section div img {
    clip-path: polygon(50% 0, 100% 22%, 100% 78%, 50% 100%, 0 78%, 0 22%);
    height: 33vh;
    width: 15vw;
    margin: 8px;

}

footer img {
    height: 250px;
    width: 100%;
}